

body{
    font-family: 'Open Sans', sans-serif;
}

header{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

    height: 110px;

    background-color: #404041;
}


header h1{
    color:#fff;
    font-size: 3.75em;
    font-weight: lighter;
}

header h1 strong{
    font-weight: bold;
    color: #ed458b;
}

#game-wrap{
    margin:auto;

    width:470px;
}


form {
    text-align: center;
    padding-top: 25px;
}

form label{
    margin:auto;
}

form label input{
    display: block;
    margin:inherit;
    
    height: 40px;
    padding-left: 10px;
    min-width: 460px;

    font-size: 1.25em;
    color:#929497;
    border: 1px solid #929497;
}

form button, 
.reset-button, 
#setMax{
    width:215px;
    height: 47px;
    margin:25px 13px 0 0;

    cursor: pointer;
    background-color: #929497;
    border: none;
    border-radius: 25px;
    color: #fff;
    font-weight: lighter;
    font-size: 1.65em;
}

form button.disabled, 
.reset-button.disabled, 
#setMax.disabled, 
form button.disabled:hover, 
.reset-button.disabled:hover{
    cursor: not-allowed;
    background-color: #d0d2d3;
}


form button:hover, 
.reset-button:hover, 
#setMax:hover{
    background-color: #EB008B;

}

.reset-button, #setMax {
    width:470px;
    height: 40px;
    font-size: 1.15em;
}

section{
    text-align: center;
    margin-top: 35px;
}


section strong#last-guess{
    font-size: 5em; 
    color: #ed458b;
    font-weight: lighter;
}

#result-response,
.guessedH2{
    margin-top: 20px;
    font-size: 1.5em;
}

/*SLIDER*/

#slidecontainer{
    text-align: center;
}

#slidecontainer p{
    font-size: 1.15em;
}


.slider {
    -webkit-appearance: none;
    width: 470px;
    height: 15px;
    border-radius: 5px;   
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    margin-bottom: 10px;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: #ed458b;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #ed458b;
    cursor: pointer;
}
